<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>   
			<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\plength\plength-webapp\venv\Scripts\python.exe|C:\Users\plength\plength-webapp\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
			<directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="209715200" />
            </requestFiltering>
        </security>
		<httpErrors errorMode="Detailed" />
	</system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="application.app" />
		<add key="PYTHONPATH" value="C:\Users\plength\plength-webapp" />
		<!-- <add key="WSGI_LOG" value="C:\inetpub\logs\wsgi_myapp.log" /> -->
	</appSettings>
    <system.web>
        <identity impersonate="false" />
		<customErrors mode="Off" />
		<deployment retail="false" />
    </system.web>
</configuration>