<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plength</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery.Jcrop.min.css') }}">
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.color.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.Jcrop.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <h4>Image Upload</h4>
          <hr>
        </div>
      </div>
    <div class="row">
      <div class="col-md-6">
        <input class="btn btn-default" type="file" id="file"/>
      </div>
      <div class="col-md-6">
        <p id="imageStats"></p>
      </div>
    </div>
    <form id="form" method="POST" enctype="multipart/form-data">
      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12" id="views"></div>
      </div>
      <div class="row" style="padding-top: 10px;">
        <div class="col-md-2">
          <button id="cropbutton">Crop Image</button>
        </div>
        <div class="col-md-1">
          <!-- <input type="submit" value="Upload"/> -->
        </div>
      </div>
    </form>
  </div>
</body>
</html> 

<script>
  var crop_max_width = 400;
  var crop_max_height = 400;
  var jcrop_api;
  var canvas;
  var context;
  var image;

  var prefsize;

  $("#file").change(function() {
    loadImage(this);
  });

  function loadImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      canvas = null;
      reader.onload = function(e) {
        image = new Image();
        image.onload = validateImage;
        image.src = e.target.result;
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  function validateImage() {
    if (canvas != null) {
      image = new Image();
      image.onload = restartJcrop;
      image.src = canvas.toDataURL('image/png');
    } else restartJcrop();
  }

  function dataURLtoBlob(dataURL) {
    var BASE64_MARKER = ';base64,';
    if (dataURL.indexOf(BASE64_MARKER) == -1) {
      var parts = dataURL.split(',');
      var contentType = parts[0].split(':')[1];
      var raw = decodeURIComponent(parts[1]);

      return new Blob([raw], {
        type: contentType
      });
    }
    var parts = dataURL.split(BASE64_MARKER);
    var contentType = parts[0].split(':')[1];
    var raw = window.atob(parts[1]);
    var rawLength = raw.length;
    var uInt8Array = new Uint8Array(rawLength);
    for (var i = 0; i < rawLength; ++i) {
      uInt8Array[i] = raw.charCodeAt(i);
    }

    return new Blob([uInt8Array], {
      type: contentType
    });
  }

  function restartJcrop() {
    if (jcrop_api != null) {
      jcrop_api.destroy();
    }
    $("#views").empty();
    $("#views").append("<canvas id=\"canvas\">");
    canvas = $("#canvas")[0];
    context = canvas.getContext("2d");
    canvas.width = image.width;
    canvas.height = image.height;
    context.drawImage(image, 0, 0);
    $("#canvas").Jcrop({
      onSelect: selectcanvas,
      onRelease: clearcanvas,
      boxWidth: crop_max_width,
      boxHeight: crop_max_height
    }, function() {
      jcrop_api = this;
    });
    clearcanvas();
  }

  function clearcanvas() {
    prefsize = {
      x: 0,
      y: 0,
      w: canvas.width,
      h: canvas.height,
    };
  }

  function selectcanvas(coords) {
    prefsize = {
      x: Math.round(coords.x),
      y: Math.round(coords.y),
      w: Math.round(coords.w),
      h: Math.round(coords.h)
    };
  }

  function applyCrop() {
    canvas.width = prefsize.w;
    canvas.height = prefsize.h;
    context.drawImage(image, prefsize.x, prefsize.y, prefsize.w, prefsize.h, 0, 0, canvas.width, canvas.height);
    validateImage();
  }

  $("#cropbutton").click(function(e) {
    if (image != null)
      applyCrop();
  });

  $("#form").submit(function(e) {
    e.preventDefault();
    // formData = new FormData($(this)[0]);
    // var blob = dataURLtoBlob(canvas.toDataURL('image/jpg'));
    // formData.append("cropped_image[]", blob);
    // $.ajax({
    //   url: "/uploadImage",
    //   type: "POST",
    //   data: formData,
    //   contentType: false,
    //   cache: false,
    //   processData: false,
    //   success: function(data) {
    //     alert("Success");
    //   },
    //   error: function(data) {
    //     alert("Error");
    //   },
    //   complete: function(data) {}
    // });
  });
</script>