<!DOCTYPE html>
<html lang="en">

<head>
  <title>Plength</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='jquery.Jcrop.min.css') }}">
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.color.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.Jcrop.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <style>
    .jumbotron {
      background-color: #072c02f1;
      /* Green */
      color: #ffffff;
    }

    .navbar {
      margin-bottom: 0;
      background-color: #1e351e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
    }

    .navbar li a,
    .navbar .navbar-brand {
      color: #fff !important;
    }

    .navbar-nav li a:hover,
    .navbar-nav li.active a {
      color: #0c6301f1 !important;
      background-color: #fff !important;
    }

    .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
    }

    @media screen and (max-width: 768px) {
      .col-sm-4 {
        text-align: center;
        margin: 25px 0;
      }
  </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.ugent.be/globalcampus/en/research/plant" target="_blank">Lab of Plant
          Growth Analysis</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#detailedinstructions">DETAILED INSTRUCTIONS</a></li>
          <li><a href="#analysis">ANALYSIS</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="container text-center">
        <div class="jumbotron">
          <h2>
            <dt>PLENGTH</dt>
          </h2>
          <img-right src="Lab_img.jpg" class="img-circle" alt="Lab">
        </div>
        <hr>
      </div>
    </div>
    <!-- Container (About Section) -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h3 id="about">About</h3>
          <p>PLENGTH is a webapp for automated analysis of rice coleoptiles and seedlings (obtained from an L- screen).
           The parameters analysed are total coleoptile length for coleoptiles; and shoot length, leaf lengths, and internode lengths for seedlings.
           Aside from this, PLENGTH also computes the mean and standard deviation</p>
        </div>
      </div>
    </div>

    <!-- Container (Detailed Insructions Section) -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h3 id="detailedinstructions">Detailed Instructions</h3>
          <p>This program works by converting a plant to a graph, with branching points and end points as nodes. It
            works on both rice coleoptiles and seedlings. Anything shorter than 2mm will be considered as noise and
            removed.<br>

            <dt>Steps:</dt><br>
            1. Upload a scanned image of coleoptiles or seedlings on a plate. For optimum performance, the following
            conditions are recommended:<br>
            • A black background for coleoptiles or a blue background for seedlings<br>
            • The plate contains no scratches and smudges; ideally it would also be gridless<br>
            • No overlapping plants<br>
            • The calibrator is a white strip of known length placed on either the lower right or left corner of the
            plate<br>
            • No plant is in the same grid box as the calibrator (~3cm for gridless plates)<br>

            2. Crop the plate borders and surrounding areas.<br>

            3. For seedlings, check if your plants are being detected using the Threshold button. Adjust values
            accordingly.<br>

            4. Check the settings to see that the plant type being analyzed and calibrator position and length are
            correct.
            
            5. Run the program. Each detected region will be labeled with a red bounding box and a number. In
            case of seedlings, yellow lines are drawn over the branch determined to be a leaf. This could be incorrect
            if the leaf is too close to the main stem.<br>

            6. Merge, remove, select, or group regions as necessary. The labeled image can be exported to see the
            numberings more clearly.The mean, standard deviation, and standard error will be recalculated for each
            parameter.<br>

            7. Export to a csv file.<br>
            <br>
            <dt>SELECTING AND REMOVING</dt>
            Type the number(s) of plant(s) you want to select or remove in the entry box. Separate the numbers with a
            comma (no space in between). A range of numbers will also be accepted. For example, to remove plants number
            1, 4, 5, 6, and 10, type "1,4-6,10" and click "Remove." Selection and removing can be done after grouping,
            and the statistics will be recalculated accordingly.<br>

            <dt>MERGING</dt>
            Type the numbers of two or more plants to be merged in the entry box, e.g. "4+17" will merge plants 4 and
            17. Separate each merging with a comma (no space in between). Merging can only happen once, so first typing
            "4+17" then "4+17+23" will not work - to merge three plants you have to include all the numbers at once.
            Only plants from the same group can be merged.<br>

            Merging leaf values is a little more complicated. You will have to use the letter "l" to indicate the leaf,
            followed by the leaf number. (Leaves are numbered from bottom to top.) For instance, if the second leaf of
            plant 4 was cut off and the stray leaf was numbered as 8, you have to type "4l2+8" to merge them. Always
            make sure that the main plant is the first value (i.e. before the plus sign). <br>

            <dt>GROUPING</dt>
            While in grouping mode, type asterisks (*) in a new line to separate the plants into groups. You can shift
            the rows around (Ctrl+X then Ctrl+V) and even remove them during grouping. Click "Apply" to create the
            groups, and the statistics will be calculated for each group. If you wish to ungroup them, go into the
            grouping mode, remove the group heading(s), then apply.
          </p>
        </div>
      </div>
    </div>

    <!-- Container (Analysis Section) -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h3 id="analysis">Analysis</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-left">
          <dt>Step I: Choose the image that needs to be analyzed by clicking the button</dt>
        </h5>
        <input class="btn btn-default" type="file" id="file" />
      </div>
      <div class="col-md-6">
        <p id="imageStats"></p>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="col-md-12" id="views"></div>
      <div class="col-md-12" id="data"></div>
    </div>
    <div id="updateBlock" class="row" style="padding-top: 10px;display: none">
      <div class="row">
        <div class="col-md-6">
          <textarea id="resultsText" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
            style="width:100%;height:200px; font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;">
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" id="modifier">
          <div class="row" style="margin-bottom: 10px;s">
            <div class="col-md-6"><input type="text" id="update"></div>
            <div class="col-md-6 text-right">
              <input type="button" value="Select" onclick="getSelect()">
              <input type="button" value="Merge" onclick="getMerge()">
              <input type="button" value="Remove" onclick="getRemove()">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-left">
              <input type="button" value="Save Image" onclick="saveImage()">
              <input type="button" value="Export CSV" onclick="getCSV()">
        </div>
        <div class="col-md-3 text-right">
              <input type="button" value="Group" onclick="getGroup()">
              <input type="button" value="Apply" onclick="getApply()">
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="col-md-12">
        <h5 class="text-left">
          <dt>Step II: Select the area to be analysed and click the button to crop accordingly</dt>
        </h5>
        <button onclick="cropImage()">Crop Image</button>
      </div>
      <div class="col-md-8">
        <br>
        <h5 class="text-left">
          <dt>Step III: edit the image using the slide button to obtain desired contrast level<br><small>Not required
              for coleoptile (May be required for seedling)</small></dt>
        </h5>
        <label>Hue: <input type=range id=rHue max=359 value=0></label>
        <label>Saturation: <input type=range id=rSat value=0></label>
        <label>Lightness: <input type=range id=rL max=200 value=100></label>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="col-md-8">
        <br>
        <h5 class="text-left">
          <dt>Step IV: Choose the plant type being analysed and the marker position<br><small>Known distance:marker
              length; Min Detection distance: 500 (std)</small></dt>
        </h5>
        <div class="row" style="padding-top: 10px;">
          <div class="col-md-3">
            <input type="radio" name="plant" value="c" checked>Coleoptile<br>
            <input type="radio" name="plant" value="s">Seedling<br>
          </div>
          <div class="col-md-3">
            <input type="radio" name="calPos" value="l" checked>Marker Left<br>
            <input type="radio" name="calPos" value="r">Marker Right<br>
          </div>
          <div class="col-md-3">
            Known Distance: <input id="dist" type="number" name="fname" value=20> mm<br>
          </div>
          <div class="col-md-3">
            Min Detection Distance: <input id="minDist" type="number" name="fname" value=500> pixels<br>
          </div>
        </div>
        <br>
        <h5 class="text-left">
          <dt>Step V: Click the button to upload and analyze the image</dt>
        </h5>
        <div class="row">
          <div class="col-md-2">
            <button onclick="uploadImage()">Upload</button>
          </div>
          <div class="col-md-8">
            <div id="progress">
              <p>Analyzing...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="temp"></div>
  <!-- Container (CONTACT Section) -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h3 id="contact">Contact</h3>
        <h5>For any queries or to report any bugs please send an email to the following address: <br><br>
          smj2096@gmail.com </h5>
      </div>
    </div>
  </div>

  <div id="dialog" title="Error" style="display: none;">
    <p>There was an error processing your request. Here are a few things that could've resulted in the error</p>
    <p>1. Make sure the image is clear, and correct plany type has been selected. If the internal image editor is not enough, please use an external editor to adjust the image contrast.</p>
    <p>2. Crop the image to smaller partition to see if the settings and image is clear enough. If the error persists, it's likely an programmatic error</p>
    <p>3. The analysis is a very resource intensive task, so the server could be busy handling other requests. If so, please try again later </p>
  </div>
</body>

</html>

<script>
  var crop_max_width = 600;
  var crop_max_height = 600;
  var jcrop_api;
  var canvas;
  var context;
  var image;
  var hue = 200;
  var sat = 0;
  var lightness = 100;
  var csvData;

  var prefsize;

  $("#progress").hide();

  $("#file").change(function () {
    loadImage(this);
  });

  $('input[type=range]').on('input', function () {
    $(this).trigger('change');
  });

  $('#rHue').change(function () {
    setHue()
  });

  $('#rSat').change(function () {
    setSaturation();
  });

  $('#rL').change(function () {
    setLightness();
  });

  function loadImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      canvas = null;
      reader.onload = function (e) {
        image = new Image();
        image.onload = validateImage;
        image.src = e.target.result;
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  function validateImage() {
    if (canvas != null) {
      image = new Image();
      image.onload = restartJcrop;
      image.src = canvas.toDataURL('image/png');
    } else restartJcrop();
  }

  function restartJcrop() {
    if (jcrop_api != null) {
      jcrop_api.destroy();
    }
    $("#views").empty();
    $("#views").append("<canvas id=\"canvas\">");
    canvas = $("#canvas")[0];
    context = canvas.getContext("2d");
    canvas.width = image.width;
    canvas.height = image.height;
    context.globalCompositeOperation = "source-over";
    context.drawImage(image, 0, 0);
    /* setHue(); setSaturation(); setLightness(); */
    $("#canvas").Jcrop({
      onSelect: selectcanvas,
      onRelease: clearcanvas,
      boxWidth: crop_max_width,
      boxHeight: crop_max_height
    }, function () {
      jcrop_api = this;
    });
    clearcanvas();
  }

  function clearcanvas() {
    prefsize = {
      x: 0,
      y: 0,
      w: canvas.width,
      h: canvas.height,
    };
  }

  function selectcanvas(coords) {
    prefsize = {
      x: Math.round(coords.x),
      y: Math.round(coords.y),
      w: Math.round(coords.w),
      h: Math.round(coords.h)
    };
  }

  function applyCrop() {
    canvas.width = prefsize.w;
    canvas.height = prefsize.h;
    context.drawImage(image, prefsize.x, prefsize.y, prefsize.w, prefsize.h, 0, 0, canvas.width, canvas.height);
    validateImage();
  }

  function cropImage() {
    if (image != null)
      applyCrop();
    else
      return;
  };

  function setHue() {
    hue = $('#rHue').val();
    console.log('Hue value = ' + hue);
    context.globalCompositeOperation = "hue";
    context.fillStyle = `hsl(${hue}, ${sat}%, 50%)`;
    context.fillRect(0, 0, canvas.width, canvas.height);
    resetComposition();
  }

  function setSaturation() {
    sat = $('#rSat').val();
    console.log('Saturation value = ' + sat);
    context.globalCompositeOperation = "saturation";
    context.fillStyle = `hsl(${hue}, ${sat}%, 50%)`;
    context.fillRect(0, 0, canvas.width, canvas.height);
    resetComposition();
  }

  function setLightness() {
    lightness = $('#rL').val();
    context.globalCompositeOperation = lightness < 100 ? "color-burn" : "color-dodge";
    lightness = (lightness >= 100) ? lightness - 100 : 100 - (100 - lightness);
    console.log('Lightness value = ' + lightness);
    context.fillStyle = `hsl(${hue}, ${sat}%, ${lightness}%)`;
    context.fillRect(0, 0, canvas.width, canvas.height);
    resetComposition();
  }

  function resetComposition() {
    context.globalCompositeOperation = "destination-in";
    context.drawImage(image, 0, 0, canvas.width, canvas.height);
    context.globalCompositeOperation = "source-over";
  }

  function uploadImage() {
    if (canvas != null) {
      var croppedImage = canvas.toDataURL();
      var outputImage = croppedImage.replace(/^data:image\/(png|jpg);base64,/, "");
      /* var progress = setInterval(printProgress, 5000); */

      var plantType = $('input[name=plant]:checked').val();
      var calPos = $('input[name=calPos]:checked').val();
      var dist = $('#dist').val();
      var minDist = $('#minDist').val();
      csvData = makeid();

      $("#progress").show();
      $.ajax({
        url: "/uploadImage",
        type: "POST",
        data: {
          plantType: plantType,
          calPos: calPos,
          distance: dist,
          minimumDist: minDist,
          image: outputImage,
          filename: csvData,
        },
        /* contentType: "application/json", */
        success: function (data) {
          context.clearRect(0, 0, canvas.width, canvas.height);
          var img = new Image();
          img.src = "data:image/png;base64," + data;
          img.onload = function () {
            context.drawImage(img, 0, 0);
          }

          /* clearInterval(progress); */

          $("#progress").hide();
          /* $("#progress").val(0); */

          $('html, body').animate({
            scrollTop: $("#analysis").offset().top
          }, 2000);

          getData();
        },
        error: function (data) {
          alert(`There was an error processing your request. Here are a few things that could've resulted in the error.
                1. Make sure the image is clear, and correct plany type has been selected. If the internal image editor is not enough, please use an external editor to adjust the image contrast.
                2. Crop the image to smaller partition to see if the settings and image is clear enough. If the error persists, it's likely an programmatic error
                3. The analysis is a very resource intensive task, so the server could be busy handling other requests. If so, please try again later`);
          console.log('Error: ' + data);
        },
      });
    }
  }

  function printProgress() {
    var progress = $("#progress");

    $.ajax({
      url: "/pollProgress",
      type: "GET",
      contentType: "application/json",
      success: function (data) {
        progress.val(data.progress);
      },
    });
  }

  function getSelect() {
    var regions = $('#update').val();

    if (regions == '') return;

    $.ajax({
      url: "/getSelect",
      type: "POST",
      data: {
        regions: regions
      },
      success: function (data) {
        getData();
      },
    });
  }

  function getRemove() {
    var regions = $('#update').val();

    if (regions == '') return;

    $.ajax({
      url: "/getRemove",
      type: "POST",
      data: {
        regions: regions
      },
      success: function (data) {
        getData();
      },
    });
  }

  function getMerge() {
    var regions = $('#update').val();

    if (regions == '') return;

    $.ajax({
      url: "/getMerge",
      type: "POST",
      data: {
        regions: regions
      },
      success: function (data) {
        getData();
      },
    });
  }

  function getGroup() {
    var results = $('#resultsText').val();

    if (results == '') return;

    $.ajax({
      url: "/getGroup",
      type: "POST",
      data: {
        results: results
      },
      success: function (data) {
        getData();
      },
    });
  }

  function getApply() {
    var results = $('#resultsText').val();

    if (results == '') return;

    $.ajax({
      url: "/getApply",
      type: "POST",
      data: {
        results: results
      },
      success: function (data) {
        getData();
      },
    });
  }

  function getData() {
    $('#update').val('');
    $("#updateBlock").show();

    $.ajax({
      url: "/getData",
      type: "GET",
      contentType: "application/json",
      success: function (data) {
        /* var temp = data.data['1']; */

        var results = data.raw;

        var resultsText = '';

        results.forEach(function (row) {
          resultsText += row;
        });

        $("#resultsText").val(resultsText);

        /* var summary = `<br><br>
                       <p>Mean: ${temp.lengthmean.toFixed(2)} mm</p>
                       <p>SD: ${temp.lengthsd.toFixed(2)} mm</p>
                       <p>SE: ${temp.lengthse.toFixed(2)} mm</p>`

        var allData = `<div id="dataSummary">
                        ${generateTable(data.data['1'].val)}
                        ${summary}
                       </div>`;

        $('#data').html(allData); */
      },
    });


  }

  function generateTable(data) {
    var tableHead = `<table width="50%" border="1" style="margin-top: 30px;">
                    <tr>
                      <th>index</th>
                      <th>length(mm)</th>
                    </tr>`;

    var rows = '';
    data.forEach(function (box) {
      rows += `<tr>
                <td>${box['0']}</td>
                <td>${box['1'].toFixed(2)}</td>
              </tr>`;
    });

    var table = tableHead + rows + '</table>';

    return table;
  }

  function test() {
    $.ajax({
      'url': "/test",
      'method': "GET",
      'contentType': 'application/json'
    }).done(function (data) {
      console.log(data.data[0]);
      $('#lengths').dataTable({
        "aaData": data.val,
        "columns": [
          { "data": "0" },
          { "data": "1" }
        ]
      });
    })
  }

  function getCSV() {
    /* $.ajax({
      'url': "/getCSV",
      'method': "GET",
    }).done(function (data) {
      console.log(data);

      var file = new Blob([data]);
      if (window.navigator.msSaveOrOpenBlob) // IE10+
          window.navigator.msSaveOrOpenBlob(file, filename);
      else { // Others
          var a = document.createElement("a"),
                  url = URL.createObjectURL(file);
          a.href = url;
          a.download = "data.csv";
          document.body.appendChild(a);
          a.click();
          setTimeout(function() {
              document.body.removeChild(a);
              window.URL.revokeObjectURL(url);  
          }, 0); 
      }
    }) */

    $.ajax({
      url: "/getCSV",
      method: "POST",
      data: {
        filename: csvData
      },
      success: function (data) {
        var file = new Blob([data]);
        if (window.navigator.msSaveOrOpenBlob) // IE10+
            window.navigator.msSaveOrOpenBlob(file, filename);
        else { // Others
            var a = document.createElement("a"),
                    url = URL.createObjectURL(file);
            a.href = url;
            a.download = "data.csv";
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);  
            }, 0); 
        }
      },
      error: function (error) {

      }
    });
  }

  function saveImage() {
    var img = canvas.toDataURL("image/jpeg", 0.7);
    var newWindow = window.open();
    newWindow.document.write('<img src="'+img+'"/>');
  }

  /* function showAlert(){
    alert("Error");
  } */

  function makeid() {
    var result           = '';
    var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = 5;
    for ( var i = 0; i < 5; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result.toUpperCase();
}
</script>